extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search-product.pug
include ../../mixins/pagination-page.pug
include ../../mixins/multi-change-status.pug
include ../../mixins/flash-messages.pug
include ../../mixins/sort.pug
include ../../mixins/category-index.pug

block main
  .page-header.mb-4
    .row.align-items-center
      .col-md-6
        h1.page-title
          i.fas.fa-list.mr-2
          | Quản lý danh mục
      .col-md-6.text-right
        if(roleList.permissions.includes('products-category_create'))
          a.btn.btn-primary(href=`${systemAdmin}/catelogy/create`)
            i.fas.fa-plus.mr-2
            | Thêm danh mục mới

  .card.mb-4
    .card-header.bg-white
      .row.align-items-center
        .col-md-6
          h5.card-title.mb-0
            i.fas.fa-filter.mr-2
            | Bộ lọc và tìm kiếm
        .col-md-6.text-right
          button.btn.btn-link.btn-sm(type="button" data-toggle="collapse" data-target="#filterCollapse")
            i.fas.fa-chevron-down
    .card-body.collapse.show#filterCollapse
      .row
        .col-md-6.mb-3
          //+filter-status(status)
        .col-md-6.mb-3
          //+form-search(searchs)

  .card
    .card-header.bg-white
      .row.align-items-center
        .col-md-6
          h5.card-title.mb-0
            i.fas.fa-sitemap.mr-2
            | Danh sách danh mục
        .col-md-6.text-right
          +multiChangeStatus(`${systemAdmin}/catelogy/mutil-change-status?_method=PATCH`)
    
    .card-body
      +flashMessage()
      
      .table-responsive
        table.table.table-hover.table-bordered.align-middle(check-box-multi)
          thead.thead-light
            tr
              th.text-center(style="width: 50px")
                input(type="checkbox" name="checkall")
              th.text-center(style="width: 60px") STT
              th(style="width: 100px") Hình ảnh
              th Danh mục
              if(roleList.permissions.includes('products-category_edit'))
                th.text-center(style="width: 100px") Vị trí
              if(roleList.permissions.includes('products-category_edit'))
                th.text-center(style="width: 120px") Trạng thái
              th.text-center(style="width: 200px") Thao tác
          tbody
            +renderCategoryIndex(category)

      .mt-4
        //nav
          ul.pagination.justify-content-center
            +objectPagination(objectPagination)

  form(action='' method="POST" id="form-change-status" data-url=`${systemAdmin}/catelogy/change-status`)
  form(action='' method="POST" id="form-change-deleted" data-url=`${systemAdmin}/catelogy/change-deleted`)
  script(src="/admin/js/category.js")