mixin multiChangeTrash(patch)
  form(action=patch method="POST"  from-change-multil )
    .d-flex.align-items-start
      .form-group
        select(name="type" class="form-control")
          option(disabled selected) --Chọn trạng thái--
          option(value="deleted") xóa nhiều sản phẩm
          option(value="restore") khôi phục nhiều sản phẩm
      .from-group
        input(type="text" name="ids" class="form-control d-none" value='')
      button(type="submit" class="btn btn-primary") Ap dung