mixin form-search(searchs)
        form(id="form-search")
            .input-group
              input(type="text", name="search", placeholder="Tim kiem san pham" class="form-control" value=`${searchs}`)
              .input-group-append
                button(type="submit" class="btn btn-success") Tim kiem