extends ../../layout/user.pug
include ../../mixins/flash-messages.pug
block main
  .container.register-page.my-5
    .row.justify-content-center
      .col-lg-5.col-md-7
        .bg-white.p-4.rounded.shadow-sm
          h3.text-center.font-weight-bold.mb-4 Đăng nhập
          +flashMessage()
          +flashMessageError()
          form(action="/user/login" method="POST")
            .form-group
              label.font-weight-bold(for="email") Email
              input#email.form-control(type="email", name="email", placeholder="Nhập email", required)
            .form-group
              label.font-weight-bold(for="password") Mật khẩu
              input#password.form-control(type="password", name="password", placeholder="Nhập mật khẩu", required)
            button.btn.btn-primary.btn-block.font-weight-bold(type="submit") Đăng nhập
            .text-center.mt-3
              span Bạn chưa có tài khoản? 
              a.text-primary(href="/user/register") Đăng ký
            .text-center.mt-3
              span Bạn quên mật khẩu? 
              a.text-primary(href="/user/forgot-password") Quên mật khẩu